<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Перевод стальной трубы из метров в тонны</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">ИнСити</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown"
                aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarWithDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/table">Поверхность трубы</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Конвертеры
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/tons">Перевод из метров в тонны</a></li>
                        <li><a class="dropdown-item" href="/meters">Перевод из тонн в метры</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Table -->

<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-7">
    <div class="text-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Наименование трубопровода</th>
                <th scope="col">Длина (L), м.</th>
                <th scope="col">Списано, т.</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conv : ${allConverters}">
                <td th:text="${conv.weightOfOneMeterEnum.getDisplayName()}"></td>
                <td th:text="${conv.getLength()}"></td>
                <td th:text="${conv.calculateLengthInTons()}"></td>
                <td>
                    <form th:action="@{tons/delete/{id}(id=${allConverters.indexOf(conv)})}" th:method="DELETE"><input
                            type="submit" class="btn btn-danger" value="X"></form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br>

<!-- Pipe select -->
<div class="col-4">
    <form th:action="@{/tons}" th:object="${metersToTonsConverter}" th:method="POST">

        <select th:field="*{weightOfOneMeterEnum}">
            <option th:each="diameter : ${T(ru.incity.incitycalculator1_0.common.WeightOfOneMeterEnum).values()}"
                    th:value="${diameter}" th:text="${diameter.getDisplayName()}"></option>
        </select>
        <br>
        <br>
        <label for="length">Списано, м</label>
        <input type="text" th:field="*{length}" id="length">
        <br>
        <br>
        <input type="submit" class="btn btn-outline-secondary" value="Добавить">
    </form>


</div>
</div>
<br>

<!-- Summary -->
<div class="row">
    <div class="col-1"></div>
    <div class="col-sm-4">
    <b>Сводные данные:</b>

    <table class="table table-bordered">
        <tr th:each="entry : ${sum}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}">
        </tr>
        <tr>
            <td><b>Итого:</b></td>
            <td th:text="${onlySum}"></td>
        </tr>
    </table>
</div>
</div>

</body>
</html>